.external{
    font-size: 29px;
    color: blue;
    border: 1px solid red;
    background-color:orchid ;
}
#main{
    border: 1px solid red;
    background-color: aqua;
    height: 200px;
    width:200px;
}
span{
    color: chocolate;
    font-size: 30px;
}
*{
    font-family:serif;
    margin: 0px;
    padding: 0px;
}
input[type]{
    color: red;
}
input[type="text"]{
    color: cadetblue;
}
/*a[href]{
    background-color: yellow;
}*/
a:link{
    color:greenyellow;
}
a:visited{
    color:magenta;
}
a:hover{
    font-size: 30px;
    color: red;
}
a:active{
    color:aquamarine;
}
