*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
.a{
    height: 1200px;
    background-color: rgb(188, 178, 178);
}
.b{
    height: 250px;
    text-align: center;
    font-size: 30px;
    padding-top: 2px;
}
.c{
    height: 700px;
}
.d{
    height: 150px;
}
.z1{
    height: 300px;
    width: 350px;
    margin: 50px;
    margin-left: 100px;
    background-color: white;
    float: left;
    border-radius:0px 0px 30px 30px;
    box-shadow: 3px 3px 4px black;
}
.z2{
    height: 300px;
    width: 350px;
    margin: 50px;
    background-color: white;
    float: left;
    border-radius:0px 0px 30px 30px;
    box-shadow: 3px 3px 4px black;
}
.z3{
    height: 300px;
    width: 350px;
    margin: 50px;
    background-color: white;
    float: left;
    border-radius:0px 0px 30px 30px;
    box-shadow: 3px 3px 4px black;
}
.z4{
    height: 300px;
    width: 350px;
    margin: 50px;
    margin-left: 100px;
    background-color: white;
    float: left;
    border-radius:0px 0px 30px 30px;
    box-shadow: 3px 3px 4px black;
}
.z5{
    height: 300px;
    width: 350px;
    margin: 50px;
    background-color: white;
    float: left;
    border-radius:0px 0px 30px 30px;
    box-shadow: 3px 3px 4px black;
}
.z6{
    height: 300px;
    width: 350px;
    margin: 50px;
    background-color: white;
    float: left;
    border-radius:0px 0px 30px 30px;
    box-shadow: 3px 3px 4px black;
}
.y1{
    height: 30px;
    width: 350px;
    background-color: hotpink;
}
.y2{
    height: 30px;
    width: 350px;
    background-color: skyblue;
}
.y3{
    height: 30px;
    width: 350px;
    background-color: rgb(24, 207, 24);
}
.y4{
    height: 30px;
    width: 350px;
    background-color: yellow;
}
.y5{
    height: 30px;
    width: 350px;
    background-color: rgb(202, 42, 202);
}
.y6{
    height: 30px;
    width: 350px;
    background-color: pink;
}
#i1{
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: hotpink;
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 30px;
}
#i2{
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: skyblue;
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 30px;
}
#i3{
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: rgb(24, 207, 24);
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 30px;
}
#i4{
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: yellow;
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 30px;
}
#i5{
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: rgb(202, 42, 202);
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 30px;
}
#i6{
    height: 35px;
    width: 35px;
    font-size: 20px;
    background-color: pink;
    margin: 30px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 30px;
}
#q{
    margin-left: 30px;
    margin-bottom: 30px;
}
#r{
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 30px;
}
button{
    background-color: rgb(207, 39, 123);
    height: 50px;
    width: 200px;
    margin-left: 630px;
    margin-top: 50px;
    border-radius: 30px;
}