*{
    margin: 0px;
    padding: 0px;

}
.a{
    height: 650px;
    width: 1250px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
}
.b{
    height: 50px;
    width: 1250px;
    background-color: lightgray;
    margin-top: 30px;
}
.c{
    height: 280px;
    width: 270px;
    background-color: lightgray;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.c{
    height: 280px;
    width: 270px;
    background-color: lightgray;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.c1{
    height: 280px;
    width: 270px;
    background-color: lightgray;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.c2{
    height: 280px;
    width: 270px;
    background-color: lightgray;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.c3{
    height: 280px;
    width: 270px;
    background-color: lightgray;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.d{
    height: 500px;
    width: 580px;
    margin-top: 10px;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 1px solid black;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    background-image: url(../images/emp.png);
}
.circle1{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 1px solid black;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    background-image: url(../images/emp.png);
}
.circle2{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 1px solid black;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    background-image: url(../images/emp.png);
}
.circle3{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 1px solid black;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    background-image: url(../images/emp.png);
}
h3{
    margin-left: 10px;
    margin-top: 25px;
    float: left;
}
.vertical{
    border-left: 2px solid rgb(255, 255, 255);
    height: 180px;
    position: relative;
    left: 40px;
    top: 71px;
}
.dot{
    height: 13px;
    width: 13px;
    border-radius: 10px;
    background-color: rgb(58, 206, 206);
    position: relative;
    left: 35px;
    bottom: 90px;
    float: left;
}
.dot1{
    height: 13px;
    width: 13px;
    border-radius: 10px;
    background-color: rgb(58, 206, 206);
    position: relative;
    left: 22px;
    bottom: 31px;
    float: left;
}
.dot2{
    height: 13px;
    width: 13px;
    border-radius: 10px;
    background-color: rgb(58, 206, 206);
    position: relative;
    left: 9px;
    top: 23px;
    float: left;
}
.e{
    height: 200px;
    width: 200px;
    margin-top: 0px;
    position: relative;
    bottom: 100px;
    text-align: left;
    left: 20px;
}
p{
    color: rgb(95, 94, 94);
}
.p{
    color: black;
    margin-top: 15px;
}
